Mapping Database/mappingdatabase.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="id" type="xsd:string"/>
  <xsd:element name="employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="name"/>
        <xsd:element ref="id"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>