Soap Tasks/SoapWithHttp_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SoapWithHttp/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SoapWithHttp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="SoapWithHttp">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="name" type="xsd:string"/>
          	<xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SoapWithHttpResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ename" type="xsd:string"/>
          	<xsd:element name="eid" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>