Database Nodes/xe/system/xe.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xe/system" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xesystem="http://xe/system">
  <!-- Message definition generated from C:\Users\Sreenivas Bandaru\Documents\WorkSpace_for_IIB\Project1\xe.dbm -->

<!-- Complex type for xe.SYSTEM.MAPPING -->
    <xsd:complexType name="MAPPINGType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NAME" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ID" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

<!-- Global element for xe.SYSTEM.MAPPING -->
    <xsd:element ibmSchExtn:docRoot="true" name="MAPPING" type="xesystem:MAPPINGType"/>
</xsd:schema>